<div id="notice"><%= notice %></div>

<figure>
  <%= image_tag @photo.image.url, width: 400 %>
</figure>

<%#= form_for @photo, url: photo_like_path(@photo), method: :patch do |f| %>
  <%#= f.button like_icon(@photo.liked_by?(current_user)) %>
<%# end %>

<p>
  <strong><%= @photo.user.email %></strong>
  <%= @photo.description %>
</p>

<!-- Like button -->
<%= form_with(model: @photo, method: :patch) do |f| %>
  <% liked = @photo.liked_by?(current_user) %>
  <%= f.hidden_field :liked, value: liked %>
  <%= f.button liked ? 'Unlike' : 'Like' %>
<% end %>

<nav>
  <% if @photo.user == current_user %>
    <%= link_to 'Edit', edit_photo_path(@photo) %>
    <%= link_to 'Comments', photo_comments_path(@photo) %>
  <% end %>
</nav>
